.nav_bar {
    font-size: 13px;
}

.sfondo_main {
    background-color: black;
}

.blue-bar {
    background-color: #0282f9;
    color: white;
}

.blue-bar img {
    width: 40px;
    height: auto;
}

.blue-bar span {
    font-size: 14px;
    font-weight: 500;
}