body {
    margin: 0;
    padding: 0;
}

.nav_bar {
    font-size: 13px;
}

.sfondo_main {
    background-color: black;
}

.blue-bar {
    background-color: #0282f9;
    color: white;
}

.blue-bar img {
    width: 40px;
    height: auto;
}

.blue-bar span {
    font-size: 14px;
    font-weight: 500;
}

.logo-bg img {
    width: 500px;
}

.footer-bottom {
    background-color: #303030;
    padding: 20px 0;
}

.sign-up-btn {
    background-color: transparent;
    border: 2px solid #0282f9;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}