body {
    margin: 0;
    padding: 0;
}

.nav_bar {
    font-size: 13px;
}

.sfondo_main {
    background-color: black;
}

.blue-bar {
    background-color: #0282f9;
    color: white;
}

.blue-bar img {
    width: 40px;
    height: auto;
}

.blue-bar span {
    font-size: 14px;
    font-weight: 500;
}

.logo-bg img {
    width: 500px;
}

.footer-bottom {
    background-color: #303030;
    padding: 20px 0;
}

.sign-up-btn {
    background-color: transparent;
    border: 2px solid #0282f9;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}

.footer-top {
    background-image: url('../src/assets/img/footer-bg.jpg');
    background-size: cover;
    color: white;
    padding: 40px 0;
}

.footer-top h4 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}

.footer-top ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.footer-top li {
    font-size: 15px;
    color: #999;
    margin-bottom: 5px;
}